p, a, input, form, td {
    font-family: 'Roboto', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

form * {
    margin: 5px 0px;
}

form input[type="submit"] {
    background-color:rgb(102, 0, 204);
    color: white;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color:rgb(150, 0, 240);
}

form input[type="radio"] {
    margin-right: 10px;
}

#back-button {
    background-color:rgb(102, 0, 204);
    color: white;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

#back-button:hover {
    background-color:rgb(150, 0, 240);
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    background-color: rgb(102, 0, 204);
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    height: 85px;
}

#content {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}