<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        {% block start %}
        {% endblock %}
        <style>
            #top {
                background-image: linear-gradient(to bottom right, #ca38ff, #6600cc);
            }
        </style>
        
        <div id="top">
            <a href="./"><h1>Essay Research Assistant</h1></a>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>