{% extends 'base.html' %}

{% block head %} 
    <title> SmartResearch </title>
    
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <p>Topic:</p>
        <input type="text" name="research"/>
        <p>Key words:</p>
        <input type="text" name="keyword1"/> <br>
        <input type="text" name="keyword2"/> <br>
        <input type="text" name="keyword3"/> <br>
        <p>Extra options:</p>
        Option 1: <input type="radio" name="option1"/>
        Option 2: <input type="radio" name="option2"/>
        Option 3: <input type="radio" name="option3"/>
        <br /> <br />
        <input type="submit" value=Submit />
    </form>
{% endblock %}