{% extends 'base.html' %}

{% block head %} 
    <title> Essay Research Assistant </title>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <p>Topic:</p>
        <input type="text" name="research"/>
        <p>Key words:</p>
        <input type="text" name="keywords"/> <br>
        <p>Specify suffix of URL:</p>
        .edu: <input type="checkbox" name="option1"/>
        .org: <input type="checkbox" name="option2"/>
        .gov: <input type="checkbox" name="option3"/>
        <br /> <br />
        <input type="submit" value="Search"/>
    </form>
{% endblock %}

{% block start %}
    <style>
        #splash {
            padding-top: 25vh;
        }

        #start {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(to bottom right, #ca38ff, #6600cc);
            color: white;
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            justify-content: center;
        }

        #start button {
            background-color:white;
            color: black;
            font-size: 18px;
            border-radius: 15px;
            border: none;
            padding: 7px 10px;
            cursor: pointer;
            margin-top: 15px;
        }

        #start span {
            font-family: 'Roboto', sans-serif;
        }

        #message {
            color: white;
            padding-top: 40vh;
        }

        #splash {
            font-size: 300%;
        }

        #start p {
            color: white;
        }

        #start {
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }

        #top {
            background-image: linear-gradient(to bottom right, #ca38ff, #6600cc);
        }
    </style>

    <div id="start">
        <h1 id="splash">Essay Research Assistant</h1>
        <span><p>A program that lets you specify a topic and keywords and returns information from articles on the internet.</p></span>
        <br>
        <p id="message">Click anywhere to start</p>
    </div>

    <script>
        if (window.location.href.indexOf('#') > 0) {
            document.getElementById('start').style.display = 'none'
        }
        
        $(document).ready(function(){
            $("#start").click(function(){
                $("#start").slideUp("slow");
            });
        });
    </script>
{% endblock %}