{% extends 'base.html' %}

{% block head %} 
    <title> Essay Research Assitant </title>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <style>
        #content-table {
            border: solid black 2px;
            font-family: 'Roboto', sans-serif;
        }

        #content-table td {
            padding: 7px;
        }
    </style>

    <table id="content-table" border="1">
        <tr>
            <td><b>Excerpts: </b></td>
            <td><b>Links: </b></td>
        </tr>
        {% for i in range(content|length) %}
            <tr>
                <td>
                    {% if not content[i] == None %}
                        {{content[i]}} 
                    {% endif %}
                </td>
                <td> <a href="{{webpages[i]}}"><u> {{webpages[i]}} </u></a> </td>  
            </tr>
        {% endfor %}
    </table>
    <form action="./#">
        <input type="submit" value="Go back!" />
    </form>
{% endblock %}