{% extends 'base.html' %}

{% block head %} 
    <title> Essay Research Assitant </title>
{% endblock %}

{% block content %}
    <style>
        #content-table {
            border: solid black 2px;
            font-family: 'Roboto', sans-serif;
        }

        #content-table td {
            padding: 7px;
        }
    </style>

    <table id="content-table" border="1">
        <tr>
            <td><b>Excerpts: </b></td>
            <td><b>Links: </b></td>
        </tr>
        {% for i in range(content|length) %}
            {% if not content[i] == None %}
                <tr>
                    <td> {{content[i]}} </td>
                    <td> <a href="{{webpages[i]}}">{{webpages[i]}}</a> </td>  
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <form action="./#">
        <input type="submit" value="Go back!" />
    </form>
{% endblock %}