#top {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    background-color: rgb(102, 0, 204);
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
p, a, input, button, form {
    font-family: 'Roboto', sans-serif;
    color: black;
}